<%= form_for(requisition) do |f| %>
  <% if requisition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requisition.errors.count, "error") %> prohibited this requisition from being saved:</h2>

      <ul>
      <% requisition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.label :income, "¿Ingresos mensuales?" %> <small class="text-danger">*</small>
      <%= f.text_field :income, class: "form-control", :required => true %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.label :address_years, "¿Cuántos años tiene viviendo en su domicilio actual?" %> <small class="text-danger">*</small>
      <%= f.number_field :address_years, class: "form-control", min: 0, :required => true %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.label :marital_status, "¿Estado civil?" %>
      <%= f.select(:marital_status, options_for_select([
            ['Soltero', 'Soltero'], 
            ['Casado', 'Casado'],
            ['Divorciado', 'Divorciado'],
            ['Viudo', 'Viudo']
            ], requisition.marital_status),{},{class: "form-control"}) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.label :dependents_number, "¿Cuántas personas dependen de usted?" %> <small class="text-danger">*</small>
      <%= f.number_field :dependents_number, class: "form-control", min: 0, :required => true %>
    </div>    
  </div>


   <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= f.label :requested_amount, "¿Monto que solicita?" %> <small class="text-danger">*</small>
      <%= f.number_field :requested_amount, class: "form-control", :required => true, :min => 1 %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= f.label :payment_terms, "Términos de pago" %>
      <%= f.text_field :payment_terms, class: "form-control" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= f.label :bank, "¿Banco?" %>
      <%= f.text_field :bank, class: "form-control", :required => true %>
    </div>
  </div>


   <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.label :company_name, "¿Nombre de la empresa donde trabaja?" %> <small class="text-danger">*</small>
      <%= f.text_field :company_name, class: "form-control", :required => true %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.label :company_phone_number, "¿Teléfono de la empresa?" %> <small class="text-danger">*</small>
      <%= f.text_field :company_phone_number, class: "form-control", :required => true %>
    </div>    
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.label :company_position, "¿Posición en la empresa?" %>
      <%= f.text_field :company_position, class: "form-control" %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.label :company_years, "¿Cuantos años tiene trabajando en la empresa?" %> <small class="text-danger">*</small>
      <%= f.number_field :company_years, class: "form-control", :required => true, :min => 1  %>
    </div>    
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= f.label :has_sgmm, "¿Tiene seguro de gastos médicos mayores?" %> <small class="text-danger">*</small>
      <%= f.select(:has_sgmm, options_for_select([['Si', true], ['No', false]], requisition.has_sgmm),{},{class: "form-control"}) %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= f.label :has_imss, "¿Tiene IMSS?" %> <small class="text-danger">*</small>
      <%= f.select(:has_imss, options_for_select([['Si', true], ['No', false]], requisition.has_imss),{},{class: "form-control"}) %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= f.label :has_car, "Tiene carro?" %> <small class="text-danger">*</small>
      <%= f.select(:has_car, options_for_select([['Si', true], ['No', false]], requisition.has_car),{},{class: "form-control"}) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.label :comment, "Comentarios" %>
      <%= f.text_area :comment, class: "form-control" %>      
    </div>    
  </div>

  <br/>
  <div class="actions">
    <div class="col-xs-12 col-sm-3">
      <%= f.submit "Guardar", class: "btn btn-lg btn-success btn-block" %>
    </div>
  </div>  
  <br/>
<% end %>
