<div class="page-title">
  <div class="row">
    <h1 class="col-xs-12 col-sm-8">
      <i class="glyphicon glyphicon-edit page-title-icon"></i> Modificar solicitud
    </h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Llene los datos que se le piden a continuación</span>
  </div>
  <div class="panel-body">

		<%= render 'form', requisition: @requisition %>

    <div class="center-block">
  		<%= link_to 'Mostrar', @requisition %> |
  		<%= link_to 'Regresar', requisitions_path %>
    </div> 

	</div>	
  
  <br/>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Referencias personales 
          <% if @requisition.references.size < 3 %>
            <b class="text-danger">(Debe de agregar 3 referencias personales)</b>
          <% end %>
        </span>
      </div>
      <div class="panel-body">

        <div>
          <% if @requisition.references.size < 3 %>
            <%= render "references/form" %>
          <% end if %>  
        </div>
          

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Primer nombre</th>
              <th>Segundo nombre</th>
              <th>Primer apellido</th>
              <th>Segundo apellido</th>
              <th>Teléfono</th>
              <th>Modificar</th>
            <tr>
          </thead> 
          <tbody>
            <% @requisition.references.each do |reference| %>
              <tr>
                <td><%= reference.first_name %></td>
                <td><%= reference.second_name %></td>
                <td><%= reference.first_last_name %></td>
                <td><%= reference.second_last_name %></td>
                <td><%= reference.cell_phone_number %></td>
                <td>
                  <%= link_to glyph(:edit), edit_requisition_reference_path(@requisition, reference), :class => "btn btn-warning btn-default btn-round" %>
                </td>
              </tr>
            <% end %>
          </tbody> 
        </table>              
      </div>
    </div>
  </div>

</div>