<!DOCTYPE html>
<html>
  <head>
    <title>Prestamos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, maximum-scale=1">
  </head>

  <body>

		<nav class="navbar navbar-default navbar-inverse" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/"><i class="fa fa-university" aria-hidden="true"></i> Prestamos</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	<% if user_signed_in? %>
			        <li class="active"><a href="/profile">Perfil</a></li>			        
			        <li><a href="/requisitions">Solicitar crédito</a></li>
			      <% end %> 
		      </ul>
		     
		      <ul class="nav navbar-nav navbar-right">
		        <li>
		        	<p class="navbar-text">
		        		<% if user_signed_in? %>   
		        			Bienvenido <%= current_user.first_name %> <% current_user.second_name %>
		        		<% else %>
									Ya tiene una cuenta?
		        		<% end %>
		        	</p>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Iniciar sesión</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										Iniciar sesión via
										<div class="social-buttons">
											<%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-fb" do %>
							          <i class="fa fa-facebook"></i> Facebook
							        <% end %>

											<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
										</div>
		                  o
										 <%= form_for(:user, :url => session_path(:user)) do |f| %>
												<div class="form-group">
													 <label class="sr-only" for="user_email">Correo electrónico</label>
													 <%= f.email_field :email, class: "form-control", placeholder: "Correo electrónico", autofocus: true, required: true %>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="user_password">Contraseña</label>
													 <%= f.password_field :password, class: "form-control", placeholder: "Contraseña", autocomplete: "off", required: true %>

													 
		                       <div class="help-block text-right"><a href="/users/password/new">¿Olvidó su contraseña?</a></div>
												</div>
												<div class="form-group">
													 <%= f.submit "Iniciar sesión", class: "btn btn-primary btn-block" %>
												</div>
												<div class="checkbox">
													 <label>
													 <%= f.check_box :remember_me %> Recordarme
													 </label>
												</div>
										 <% end %>
									</div>
									<div class="bottom text-center">
										<b><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></b>
									</div>
							 </div>
						</li>
					</ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>

		<% flash.each do |key, value| %>
        <div id="flash" class="alert alert-warning alert-<%= key %>"><%= value %></div>
    <% end %>

		<div class="container">
    	<div class="wrapper">
        <div class="row">
            <div class="col-md-12 col-ms-12">
    					<%= yield %>
    				</div>
    			</div>
    	</div>
    </div>	

  </body>
</html>
