<!DOCTYPE html>
<html>
  <head>
    <title>Prestamos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

		<nav class="navbar navbar-default navbar-inverse" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Prestamos</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	<% if current_user %>		      	
			        <li class="active"><a href="/profile">Perfil</a></li>			        
			        <li><a href="/requisitions">Solicitar crédito</a></li>
			      <% end %> 
		      </ul>
		     
		      <ul class="nav navbar-nav navbar-right">
		        <li><p class="navbar-text">Ya tiene una cuenta?</p></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Iniciar sesión</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										Iniciar sesión via
										<div class="social-buttons">
											<a href="/auth/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
											<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
										</div>
		                                or
										 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
												<div class="form-group">
													 <label class="sr-only" for="exampleInputEmail2">Email address</label>
													 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="exampleInputPassword2">Contraseña</label>
													 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
		                                             <div class="help-block text-right"><a href="">Olvidó su contraseña ?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
												</div>
												<div class="checkbox">
													 <label>
													 <input type="checkbox"> Recordarme
													 </label>
												</div>
										 </form>
									</div>
									<div class="bottom text-center">
										<b><%= link_to 'Cerrar sesión', 'sign_out', method: :delete %></b>
									</div>
							 </div>
						</li>
					</ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>

		<% flash.each do |key, value| %>
        <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

		<div class="wrapper">
    	<%= yield %>
    </div>	

  </body>
</html>
